<div class="container">
  <div class="about">
    <div class="media">
  <div class="media-left">
      <img class="media-object imgdisplay" src="/css/img/profile.jpg">
  </div>
  <div class="media-right">
    <h2 class="media-heading">About</h2>
    <p>
      Spicy jalapeno bacon ipsum dolor amet chuck chicken boudin shank ground round tenderloin. Pastrami pancetta turkey biltong ham hock ham prosciutto, andouille jerky. Bacon cupim swine, tri-tip meatball cow chicken tongue flank spare ribs pork belly landjaeger. Fatback doner ham hock turducken swine capicola picanha, filet mignon bacon. Flank salami sirloin, filet mignon porchetta meatloaf brisket pancetta tenderloin cow drumstick. Ham meatloaf chuck fatback, beef ribs chicken frankfurter salami drumstick. Tri-tip filet mignon chicken tenderloin bresaola venison frankfurter ribeye andouille.
    </p>
    <p>
      Shank ball tip cupim pork chop meatball, corned beef alcatra hamburger pancetta. Biltong pig cupim cow tongue swine. Pancetta filet mignon shoulder brisket. Bresaola venison hamburger, tongue kevin boudin pork belly pig. Ball tip turducken alcatra spare ribs porchetta tongue, ham shankle pork chop. Prosciutto burgdoggen boudin hamburger porchetta chuck beef ribs ground round tenderloin.
    </p>
  </div>
</div>
</div>
</div>
