<div class="navbar-inverse navbar-bottom">
    <div class="container">
        <p class="footer-text"><a class="ifont fadeIn" href="https://www.facebook.com/dudettes.jollyfish/" target="blank_"><i class="fa fa-facebook-official" aria-hidden="true"></i></a><a class="ifont fadeIn" href="https://www.flickr.com/photos/jollyfishproductions/" target="blank_"><i class="fa fa-flickr" aria-hidden="true"></i></a>
          <a class="ifont fadeIn" href="https://www.instagram.com/dudettes_jollyfish/" target="blank_"><i class="fa fa-instagram" aria-hidden="true"></i></a>
          <a class="ifont fadeIn" href="https://soundcloud.com/dudettes_jollyfish" target="blank_"><i class="fa fa-soundcloud" aria-hidden="true"></i></a></p>
    </div>
</div>
