
<div class="container">
    <div class="jumbotron">
      <h1 class="fadeIn"><i class="fa fa-picture-o" aria-hidden="true"></i> JollyFish</h1>
      <div class="logos">
        <a class="ifont fadeIn" href="https://www.facebook.com/dudettes.jollyfish/" target="blank_"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
        <a class="ifont fadeIn" href="https://www.flickr.com/photos/dudettesjollyfish/" target="blank_"><i class="fa fa-flickr" aria-hidden="true"></i></a>
        <a class="ifont fadeIn" href="https://www.instagram.com/dudettes_jollyfish/" target="blank_"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        <a class="ifont fadeIn" href="https://soundcloud.com/dudettes_jollyfish" target="blank_"><i class="fa fa-soundcloud" aria-hidden="true"></i></a>
      </div>
      </div>
  </div>
